<h1>Home</h1>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/api/indjs"></script>
<select id="dp" onchange="myFunction">
  {{#each reg}}
 
 <option value={{this.id}}>{{this.regionName}}</option>
{{/each}}
</select>
<p>
<select id="dp1">
  
</select>
</p>
